{% extends 'blog/base.html' %}

{% block content %}
<div class="container">

    <form id="form_image" action="/InputImage/" method="get" >
        <div id="div_canvas" class="row">
            <canvas id="canvas" width="280" height="280" style="background-color:black"></canvas>
            <img id="image_png" width="280" height="280" style=" background-color:black">
        </div>
        <div class="row">
            <button  type="button" class="btn btn-default" onclick="copyimage();" >预览</button>
			 <button  type="button" class="btn btn-default" onclick="copyimage();" >识别</button>
            <button  type="button" class="btn btn-default" onclick="downloadimage();" >下载</button>
            <button  type="button" class="btn btn-default" onclick="uploadPic();" >上传图片数据</button>
            <button  type="button" class="btn btn-default" onclick="submitimageurl();" >上传图片地址</button>
            <button  type="button" class="btn btn-default" onclick="clearcanvas();" >清除</button>
            <p id="label_result"></p>
        </div>
		<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-1 column">
					<h3 class="label_num">数字</h3>
					<h3 class="label_num">概率</h3>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">1</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">2</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">3</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">4</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">5</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">6</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">7</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">8</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">9</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
				<div class="col-md-1 column">
					<h1 class="label_num">0</h1>
					<input type="text" class="form-control" value="10%"/>
				</div>
			</div>
		</div>
	</div>
    </form>
</div>
{% endblock content %}


