*{margin:0;padding:0}

li{list-style:none}

img{vertical-align:top;border:none}

h1{text-align: center;}

.form-control{
    text-align: center;
    padding: 3px;
}

.django_input{
    max-width: 100px;
}

#image_png{
    visibility: hidden;
}